{% from "components/landing/document-head" import DocumentHead %}
{% from "components/landing/global-header" import GlobalHeader %}
{% from "components/landing/page-intro" import PageIntro %}
{% from "components/landing/featured-project" import FeaturedProject %}
{% from "components/landing/global-footer" import GlobalFooter %}

{% set yearsExperience = "now"|date('Y') - 2009 %}
{% set pageIntro = "Kristen Grote (she/her) is a front-end web developer with " ~ yearsExperience ~ " years of experience coding projects for clients of all sizes, from small businesses to multinational corporations." %}

<!DOCTYPE html>
<html lang="en">

{{ DocumentHead() }}

<body>
    <div class="layout-home">
        <div class="layout-home-header">
            <section class="section sloped-edge-bottom c-bg-dark">
                <div class="section-gutter">
                    <div class="section-container">
                        <div class="section-content">
                            {{ GlobalHeader(pageIntro) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="layout-home-main">
            <main>
                <article>
                    <section class="section sloped-edge-bottom c-bg-template-dark show-l">
                        <div class="section-gutter">
                            <div class="section-container">
                                <div class="section-content">
                                    {{ PageIntro('<p>' ~ pageIntro ~ '<p>') }}
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="section">
                        <div class="section-gutter">
                            <div class="section-container">
                                <div class="section-content">
                                    {% set options = {
                                            heading: "TransUnion Brand Guide",
                                            hue: 191,
                                            summary: "In anticipation of a full brand redesign TransUnion asked me to develop their internal brand guide website as a reference for employees and contractors to ensure brand consistency across departments. The site needed to be easy to use and navigate as well as representative of the optimistic tone and style of the company's new brand direction. The code also needed to be scalable and adaptable for use both statically or integrated into a CMS depending on need.",
                                            skillsList: [
                                                'HTML5',
                                                'CSS3',
                                                'SASS/SCSS',
                                                'Javascript/ES6',
                                                'jQuery',
                                                'Twig',
                                                'NPM',
                                                'Grunt',
                                                'Git',
                                                'Responsive Design',
                                                'Mobile-First Web Development',
                                                'Component-Based Architecture',
                                                'Progressive Enhancement',
                                                'Figma',
                                                'Sublime Text'
                                            ],
                                            videoFilename: 'tu-brandguide-midspeed-16-9_2x',
                                            mobileImgName: 'tu-brandguide-mobile',
                                            lazyload: true
                                     } %}
                            
                                    {{ FeaturedProject(options) }}
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="section sloped-edge c-bg-template-dark">
                        <div class="section-gutter">
                            <div class="section-container">
                                <div class="section-content">
                                    {% set options = {
                                            heading: "Dinner at 8",
                                            hue: 156,
                                            summary: "I decided to convert my personal recipe website from a traditional server-side CMS setup to React in order to utilize the enhanced user experience features that single-page application frameworks have to offer. The existing Craft CMS installation made it easy to convert the data layer to a headless API, while the front-end was built with Next.js using React Query to connect the two together. The new React codebase allowed for easy UX enhancements like instant debounced search and filtering, infinite scrolling, and the Wake Lock browser API to prevent the device from sleeping while viewing a recipe.",
                                            skillsList: [
                                                'HTML5',
                                                'CSS3',
                                                'SASS/SCSS',
                                                'Javascript/ES6',
                                                'Typescript',
                                                'React',
                                                'React Query',
                                                'Craft CMS',
                                                'Next.js',
                                                'NPM',
                                                'Webpack',
                                                'Git',
                                                'Babel',
                                                'ESLint',
                                                'Prettier',
                                                'DDEV',
                                                'Responsive Design',
                                                'Mobile-First Web Development',
                                                'Component-Based Architecture',
                                                'Headless CMS Development',
                                                'Progressive Enhancement',
                                                'Visual Studio Code'
                                            ],
                                            videoFilename: "d8-desktop_2x",
                                            mobileImgName: "d8-mobile",
                                            sourceUrl: 'https://github.com/kmgdevelopment/dinner-at-8-frontend',
                                            liveUrl: 'https://dinnerat8.kristengrote.com',
                                            lazyload: true
                                     } %}
                                
                                    {{ FeaturedProject(options) }}
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="section">
                        <div class="section-gutter">
                            <div class="section-container">
                                <div class="section-content">
                                    {% set options = {
                                            heading: "TransUnion HTML Email Suite",
                                            hue: 340,
                                            summary: "As part of their brand redesign TransUnion needed to update their boxy and outdated emails with a completely new suite of modern responsive templates that would look beautiful on a variety of email clients and devices. Working off of designs provided by the company, I used my experience and knowledge of the best practices and pitfalls of HTML email development to deliver a set of flexible, modular templates that could be easily integrated into most email marketing clients.",
                                            skillsList: [
                                                'HTML5',
                                                'CSS3',
                                                'SASS/SCSS',
                                                'NPM',
                                                'Grunt',
                                                'Git',
                                                'Responsive Design',
                                                'HTML Email Development',
                                                'Figma',
                                                'Sublime Text'
                                            ],
                                            layout: 'reverse',
                                            desktopImgName: 'tu-email-desktop',
                                            mobileImgName: 'tu-email-mobile',
                                            lazyload: true
                                     } %}
                                
                                    {{ FeaturedProject(options) }}
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
            </main>
        </div>

        <div class="layout-home-footer">
            <section class="section sloped-edge-top c-bg-template-dark">
                <div class="section-gutter">
                    <div class="section-container">
                        <div class="section-content">
                            {{ GlobalFooter() }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script src="/assets/js/main.min.js"></script>
</body>
</html>